name: Build PyQt6 executables

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install PyQt6 pyinstaller

      - name: Build EXE
        shell: cmd  # â† usa CMD para evitar problemas de PowerShell
        run: >
          pyinstaller --name simulador-clima-win --onefile --windowed
          --add-data="ui\\icons;ui/icons"
          main.py

      - uses: actions/upload-artifact@v4
        with:
          name: simulador-clima-win
          path: dist/simulador-clima-win.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install PyQt6 pyinstaller

      - name: Build APP
        run: |
          pyinstaller \
            --name simulador-clima-mac \
            --windowed \
            --noconfirm \
            --add-data "ui/icons:ui/icons" \
            main.py

      - uses: actions/upload-artifact@v4
        with:
          name: simulador-clima-mac
          path: dist/simulador-clima-mac.app
